baselines/chemprop/*.egg-info
__pycache__/
***/__pycache__/
*.ckpt
*.pt
baselines/chemprop/docs/
baselines/chemprop/tests/
baselines/chemprop/examples/
baselines/chemprop/lightning_logs/
data/Full-ExCAPE.tsv
*.npz
SEA/*
!SEA/*.ipynb
*.pkl
checkpoints/***/*.json
lo_intermediate*
log
review
*.npy
*.pickle
data/deprecated
paper/
data/*.csv
data/*.zip